{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">¡Proyecto asivipcom!</h1>
        <p>Asivipcom: Asistente Visualizador de Palabras Complejas</p>
        <p class="lead">Este proyecto es un asistente para el análisis de la complejidad de textos, esto con el fin de
            poder simplificar su redacción. De esta manera podemos generar documentos que sean más fáciles de entender
            para todas las comunidades de la región. El mismo ha sido desarrollado en conjunto con el programa de
            escuela para todos, ICECU y el Tecnológico de Costa Rica, este último siendo que desarrolla la aplicación
            web.</p>
        <hr class="my-4">
        <p>Si durante el uso de la herramienta encuentra algún error, puede ingresar al repositorio del proyecto y
            realizar el issue para su solución.</p>
        <a class="btn btn-primary btn-lg" href="https://gitlab.com/arias-chaves/asivipcom-project.git" role="button">Repositorio
            Git</a>
    </div>
{% endblock content %}