{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <div class="content-section">
                <h3>Análisis</h3>

                    <br>
                    <script>
                        // Esta funcion es la encargada de decodificar las entidades del codigo html, generado por el controlador
                        var decodeEntities = (function() {
                            // Crea un div para ingresar el codigo html a decodificar
                          var element = document.createElement('div');
                          function decodeHTMLEntities (str) {
                            if(str && typeof str === 'string') {
                              // Regex que convierten el codigo html codificado
                              str = str.replace(/<script[^>]*>([\S\s]*?)<\/script>/gmi, '');
                              str = str.replace(/<\/?\w(?:[^"'>]|"[^"]*"|'[^']*')*>/gmi, '');
                              element.innerHTML = str;
                              str = element.textContent;
                              element.textContent = '';
                            }
                            return str;
                          }
                          return decodeHTMLEntities;
                        })();
                        // a_text es la variable que devolvio el codigo html con el subrayado que pertene a cada oracion del texto analizado
                        var htmlencode = '{{ a_text }}';
                        // Y se le paso como parametro a la funcion decodificar html
                        var htmldecode = decodeEntities(htmlencode);
                        // Agrega el codigo html decoficado al esqueleto del html
                        document.write(htmldecode);
                    </script>
                </p>
            </div>
        </div>

        <div class="col-sm-6">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <form action="/" method="post" enctype="multipart/form-data">
                            <input name="upload" type="file" accept=".doc,.docx,.txt">
                            <button type="submit" class="btn btn-secondary">Cargar</button>
                        </form>
                        {{ form.submitAnalize(class="btn btn-secondary", onclick="format()") }}
                        <br>
                    </div>

                    <textarea name="" id="inputTextToSave" class="form-control" cols="50" rows="20" maxlength="5000"
                              placeholder="Ingrese el texto o cargue el archivo."
                              aria-label="With textarea">{{ data_file }}</textarea>

                    <br>
                    <p class='text-muted'>Nombre del documento para exportar:
                    <input id="inputFileNameToSaveAs"></input>
                    <button class="btn btn-secondary" onclick="saveDocumentTxt()">Exportar documento</button>
                </div>
            </article>
        </div>

        <div class="col-sm-3">
            <div class="content-section">
                <h3>Sugerencias</h3>
                <p class='text-muted'>Aquí van a mostrarse las sugerencias según sea clickeada una palabra.
                <ul class="list-group">

                </ul>
                </p>
            </div>

            <form action="/search" method="post">
                <div class="content-section">
                    <h3>Regionalismos</h3>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Regionalismo a buscar"
                               aria-label="Regionalismos" aria-describedby="btnBuscar">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="btnBuscar" name="btnBuscarS">Buscar</button>
                        </div>
                    </div>
                    <p class='text-muted'>Aquí van a mostrarse los regionalismos según sean buscados.
                    <textarea name="" id="data" class="form-control" cols="10" rows="5" maxlength="5000"
                              aria-label="With textarea">{{ data_search }}</textarea>
                    <ul class="list-group">

                    </ul>
                    </p>
                </div>
            </form>

            <div class="content-section">
                <h3>Resumen</h3>
                <p id="paragraphs" class='text-muted'>
                <p id="sentences" class='text-muted'>
                <p id="words" class='text-muted'>
                <p id="letters" class='text-muted'>
            </div>
        </div>
    </div>
{% endblock %}