{% extends "layout.html" %}

{% block content %}
    <div class="col-md-8">
        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Inicia Sesión</legend>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-check">
                        {{ form.remember(clas="form-check-input") }}
                        {{ form.remember.label(clas="form-check-label") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border-top pt-3">
            <small class="text-muted">
                Acaso ha olvidado su contraseña <a class="ml-2" href="{{ url_for('login') }}">recobrar contraseña</a>
            </small>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                No tiene una cuenta? <a class="ml-2" href="{{ url_for('register') }}">Inicia Sesión</a>
            </small>
        </div>
        <div class="border-top pt-3">
            Sabías que chucho en Honduras, es lo mismo que decir zaguate en Costa Rica; ¡Ambas significan perro!
        </div>
    </div>
{% endblock content %}