{% extends "layout.html" %}

{% block content %}
    <div class="col-md-8"></div>


    <div class="col-md-8">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <article class="media content-section">
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Estado de la configuración</legend>

                    <!-- Color -->

                    <div class="slidecontainer">
                        <p>Rango mínimo de color</p>
                        <img src="{{ url_for('static', filename="colores.png") }}" class="img" width="600" height="65">
                    </div>
                    <div class="rangeslider">
                        <input type="range" min="1" max="6" step="1" value="1" class="myslider" id="sliderRangeA"
                               name="color_A"/>
                    </div>

                    <div class="espace"></div>

                    <div class="slidecontainer">
                        <p>Rango máximo de color</p>
                        <img src="{{ url_for('static', filename="colores.png") }}" class="img" width="600" height="65">
                    </div>
                    <div class="rangeslider">
                        <input type="range" min="1" max="6" step="1" value="1" class="myslider" id="sliderRangeB"
                               name="color_B"/>
                    </div>

                    <div class="espace"></div>

                    <!-- Dificultad -->
                    <div class="form-group">
                        <p>Dificultad</p>
                    </div>
                    <div class="rangeslider">
                        <input type="range" min="0" max="1" value="0.5" step="0.01" class="myslider" id="sliderRangeB"
                               name="dificultad" oninput="showAmount(this.value)" onchange="showAmount(this.value)">
                        <span id="amount">0.5</span>
                    </div>

                    <div class="espace"></div>

                    <!-- Tipo de búsqueda -->
                    <div class="form-group">
                        {{ form.type.label(class="form-control-label") }}
                        {{ form.type(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.submitG(class="btn btn-outline-info") }}
                        {{ form.submitE(class="btn btn-outline-info") }}
                    </div>
                    <div>

                    </div>
                </fieldset>
            </article>
        </form>
    </div>
    <div class="col-md-8"></div>
{% endblock content %}