body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 5px 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 5px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.img {
    height: 65px;
    width: 300px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.espace {
    width: 50px;
    height: 50px;
}

.account-heading {
    font-size: 2.5rem;
}

.rangeslider {
    width: 50%;
}

.myslider {
    -webkit-appearance: none;
    background: #FCF3CF;
    margin-left: 10px;
    width: 180%;
    height: 20px;
    opacity: 2;
}

.myslider:hover {
    opacity: 1;
}

.myslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: #34495E;
    width: 5%;
    height: 20px;
}

.rangeOneSentence {
  background: #BFFF00;
}

.rangeTwoSentence {
  background: #FFEF00;
}

.rangeThreeSentence {
  background: #FFC900;
}

.rangeFourSentence {
  background: #FF9F00;
}

.rangeFiveSentence {
  background: #FF521A;
}

.rangeSixSentence {
  background: #FF0021;
}

#inputTextToSave,
#output {
  width: 100%;
}